{% extends 'home/base.html' %}
{% block title %} New Job Listing {% endblock %}
 {% block body_block %}

 <h2>New Job Listing</h2>
 {{ errorMessage }}
    <form method="POST" class="job-form">{% csrf_token %}
        {{ form.as_p }}
		
		{% csrf_token %}


		<input type="submit" value="submit" />
		<input type="hidden" name="next" value="{{ next }}" />
    </form>
    


    <p>You are not logged in.  Please <a href="/login/">log in</a> or <a href="/register/">register</a>.</p>



 {% endblock %}