{% extends 'home/base.html' %}
{% block title %} Home {% endblock %}
	            {% block body_block %}
				<div class="jumbotron">
				  <h1>Welcome to AirClean </h1>
				  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
				  <p><a class="btn btn-primary btn-lg" href="/about/">Learn more</a></p>
				</div>

	     
				<h3> Available Jobs </h3>
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Location</th>
					  <th>Price</th>
				    </tr>
				  </thead>
				  <tbody>
  				    <tr> 
  				      <td><a href = "{% url 'job' 60 %}">test</a></td>
  				      <td>test</td>
  					  <td>test</td>
  				    </tr>
  				
	  				{% for job in allJobs %}
				    <tr> 
				      <td><a href = "{% url 'job' job.id %}">{{job.name}}</a></td>
				      <td>{{job.location}}</td>
					  <td>{{job.price}}</td>
				    </tr>
					{% endfor %}
				  </tbody>
				</table>

{% endblock %}